<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>App Facturare</title>
  </head>
  <body>
    <div class="w-100 flex flex-col justify-between min-h-screen">
      <nav
        class="relative top-0 w-full flex flex-wrap items-center justify-between bg-sky-900 text-neutral-50 shadow-sm navbar navbar-expand-md z-10"
      >
        <div
          class="flex items-center justify-end container mx-auto flex flex-wrap items-center justify-between py-4 px-2"
        >
          <button
            class="navbar-toggler px-3 ml-auto hover:text-orange-600 transition-all duration-200"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <i class="fa fa-bars text-lg" aria-hidden="true"></i>
          </button>
          <div
            class="collapse navbar-collapse flex-grow items-center"
            id="navbarSupportedContent"
          >
            <a class="text-xl font-bold" href="./?page=home"
              >invo<span class="text-orange-600">sys</span></a
            >
            <!-- Left links -->
            <ul class="navbar-nav flex flex-col list-style-none ml-auto">
              <li class="nav-item">
                <a
                  class="nav-link hover:text-orange-600 focus:text-orange-600 font-semibold text-sm transition-all duration-200"
                  aria-current="page"
                  href="./?page=home"
                  >Acasa</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link hover:text-orange-600 focus:text-orange-600 font-semibold text-sm transition-all duration-200"
                  href="?page=costs"
                  >Cheltuieli</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link hover:text-orange-600 focus:text-orange-600 font-semibold text-sm transition-all duration-200"
                  href="?page=invoices"
                  >Facturi emise</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link hover:text-orange-600 focus:text-orange-600 font-semibold text-sm transition-all duration-200"
                  href="?page=clients"
                  >Firme</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link hover:text-orange-600 focus:text-orange-600 font-semibold text-sm transition-all duration-200"
                  href="?page=users"
                  >Utilizatori</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link hover:text-orange-600 focus:text-orange-600 font-semibold text-sm transition-all duration-200"
                  href="?page=settings"
                  >Setari</a
                >
              </li>
            </ul>
            <!-- Left links -->
          </div>
          <!-- Collapsible wrapper -->
        </div>
      </nav>
      <main class="container mx-auto flex-1 p-2 flex flex-col justify-start">
        {{content}}
      </main>
      <div
        class="w-100 bg-sky-900 flex items-center justify-center text-neutral-50 font-semibold text-sm py-4"
      >
        <p>Business Outsourcing Solutions &copy; | All Rights Reserved</p>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script>
  </body>
</html>
