<div class="bg-sky-50 w-3/4 mx-auto mt-40 relative">
  <h1 class="text-neutral-900 text-7xl font-bold text-center -mt-12">
    Business Outsourcing Solutions
  </h1>
  <p>
    delectus aspernatur necessitatibus, modi facere fugiat inventore officia
    mollitia quasi ullam illo iusto? Iusto architecto ratione libero vitae
    dolore eaque aliquid culpa, sit illum minima. Cum dolorum fuga eveniet nulla
    enim ea et architecto eos quisquam numquam incidunt optio voluptates,
    pariatur quam voluptatum aspernatur in impedit eaque vitae! Libero
    laudantium facilis cumque explicabo sequi? Porro. Quasi dolor, obcaecati ea
    laudantium magni corporis, voluptatum soluta rem inventore eum nam harum
    ducimus similique excepturi perferendis doloribus impedit numquam! Ipsum
    repellat aperiam dolores dicta ex. Ducimus, doloribus eum. Iste ab
    reiciendis neque beatae dolorum dolores iure corporis, optio consequuntur
    perferendis accusantium provident rem amet nesciunt vel eaque dolore,
    expedita ad eius ipsa veniam tenetur possimus repellat praesentium. Error.
    Explicabo esse dolores fugiat odio ducimus quam eligendi, debitis deleniti
    perspiciatis totam quibusdam facilis sequi eos ut, natus delectus? Tempore
    expedita error consequuntur dignissimos reprehenderit in, cumque laudantium
    eum laboriosam! Velit reprehenderit consequuntur dolores sed enim laborum
    dolor nesciunt placeat! Iusto illo facere quidem natus voluptatem quae modi
    nemo architecto provident aliquam? Sit obcaecati placeat odio ab hic
    asperiores quibusdam! Mollitia beatae reprehenderit consequatur soluta
    quisquam rerum facilis magnam nemo, veniam consectetur dolore porro quam
    ratione optio veritatis. Officia, assumenda officiis. Laboriosam sint
    repellendus mollitia natus officia laudantium sed nostrum. Aspernatur
    necessitatibus voluptas doloremque provident, modi quisquam, dicta atque
    dolorem veritatis excepturi recusandae maxime consequuntur adipisci
    asperiores doloribus explicabo natus corrupti quibusdam delectus at non
    consequatur. Unde repudiandae blanditiis repellat? Expedita sint totam
    accusantium obcaecati ut dolores voluptas? Sit doloribus eaque
    exercitationem laudantium vel, laboriosam eligendi magni? Porro expedita
    rerum cumque eveniet, consequuntur earum molestiae itaque necessitatibus
    harum laborum excepturi. Beatae voluptatum, quidem placeat aliquid hic esse
    totam recusandae cum in tempora nisi tenetur exercitationem! Veniam,
    quisquam neque! Ullam ipsam fuga libero fugit sequi deleniti ex asperiores
    nulla nihil consequatur? Officiis accusamus culpa suscipit? Dolores rerum
    minima, mollitia ipsum laborum sint unde fuga ea voluptas consequatur
    commodi facilis velit accusantium illo eum reiciendis ipsam explicabo.
    Similique accusantium voluptatem optio ut. Sit assumenda magni nostrum
    pariatur, ducimus, voluptatum perspiciatis repellendus illum itaque facilis
    dignissimos optio deserunt labore maiores. Omnis a magni, aut quos porro
    nulla beatae voluptatem, placeat illum, aspernatur perspiciatis! Maiores
    accusamus magnam vitae corrupti, vero tenetur quasi rerum repudiandae iste
    reiciendis dignissimos voluptatibus sit minus nostrum mollitia. Aut soluta
    quisquam omnis hic dignissimos minus perspiciatis suscipit quae magnam
    beatae? Recusandae alias voluptatibus maxime unde obcaecati modi molestiae
    nemo necessitatibus, non ab ex numquam iste nesciunt iure ut nihil libero
    quis, expedita illo ea dicta veniam? Sit a iste id. Vitae sit minima culpa
    quidem obcaecati accusamus unde ipsa veniam quam doloremque reprehenderit
    est nam at dicta, necessitatibus, explicabo pariatur consequuntur sint
    voluptas saepe! Totam dicta architecto ab sapiente accusamus? A sapiente
    numquam praesentium quae quis similique, adipisci minus ad soluta laudantium
    non sint sed, dicta, delectus saepe aliquid enim accusantium vitae fugit ut
    placeat reprehenderit! Sint nulla placeat recusandae! Possimus doloremque
    quam explicabo aut iste praesentium reiciendis sequi at! Alias, incidunt
    fuga perspiciatis eveniet sit dolorem magnam id exercitationem magni enim
    harum dolores dolorum dignissimos eius placeat voluptate adipisci. Id
    adipisci porro voluptates saepe quae maxime esse nulla hic explicabo magni
    soluta voluptatum illum maiores vero natus animi laudantium, ipsam sit rem
    quas officiis fugiat necessitatibus ducimus. Laboriosam, fuga. Beatae vel ex
    ullam aliquam vero laborum accusantium inventore vitae consequuntur quas,
    eligendi ab animi doloribus accusamus ipsum. Consequuntur blanditiis ullam
    officia fuga! Autem deserunt iste suscipit aliquam numquam necessitatibus.
  </p>
</div>
